.navbar-nav{
  margin-left: 29px;
  margin-right: auto;
}

.navbar {
  margin-top: -8px;
  margin-bottom: -7px;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.link:hover {
  text-decoration: none;
  color: black;
}

.container-fluid {
  height: 75px;
  background-color: #e5de00;
  margin-bottom: -8px;
}

.h1_title{

  margin-left: 15px;
}

.container-page {
  background-color: #1d1d1d;
  height: 970px;
}

.h1_home {
  margin-top: 50px;
  margin-left: 25px;
  color: antiquewhite;
  text-align: center;
  font-size: 50px;
}

.h1_lista {
  margin-top: 50px;
  text-align: center;
  color: antiquewhite;
  font-size: 50px;
}

.link_cadastro {
  text-decoration: none;
  color: #1d1d1d;
  font-size: 20px;
  background-color: #e5de00;
  padding: 15px;
  border-radius: 8px;
}

.link_container {
  margin-top: 75px;
  text-align: center;
  color: #1d1d1d;
}

.link_container:hover{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  transition: 0.2s;
  color: #1d1d1d;
}

.h1_exercicio {
  margin-top: 50px;
  text-align: center;
  color: antiquewhite;
  font-size: 50px;
}

.mb-3 {
  color: antiquewhite;
  text-align: center;
  margin-top: 55px;
}

.form-control {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-bottom: -35px;
}

.btn-success {
  margin-left: 620px;
  margin-top: 45px;
}

.container-lista {
  display: flex;
  flex-direction: column;
}

.coluna{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.linha {
  color: antiquewhite;
  margin-bottom: 15px;
}

.botaoEditar {
  text-decoration: none;
  color: #1d1d1d;
  background-color: #e5de00;
  border: 0px;
  padding: 1px 5px;
  border-radius: 8px;
  font-size: 18px;
  margin-right: -35px;
}

.botaoExcluir {
  text-decoration: none;
  color: #1d1d1d;
  background-color: #e5de00;
  border: 0px;
  padding: 1px 5px;
  border-radius: 8px;
  font-size: 18px;
  margin-left: -45px;
}

.table {
  color: antiquewhite;
}

.h1_table {
  text-align: center;
  color: antiquewhite;
  margin-top: 50px;
  margin-bottom: 50px;
}

.p_home {
  color: antiquewhite;
  text-align: center;
  margin-top: 30px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

 /* exerc */

 #exerc-section {
  margin-top: 50px;
  background: rgb(15, 15, 15);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(15, 15, 15);
  border-radius: 10px;
  color: antiquewhite;
}

#exerc-section .container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.exerc-container {
  width: 550px;
  text-align: center;
  padding: 30px 25px;
}

.central {
  border-left: 2px solid #1d1d1d;
  border-right: 1px solid rgb(15, 15, 15);
}

.exerc-container h3 {
  color: #e5de00;
  font-size: 20px;
}

.exerc-container img{
  height: 120px;
  padding: 30px;
  margin-bottom: 25px;
  border-top: 4px solid #e5de00;
  border-left: 4px solid #e5de00;
  border-right: 4px solid #e5de00;
  border-bottom: 4px solid #e5de00;
}

.exerc-container .subtitle {
  font-weight: bold;
  color: #e5de00;
  margin-top: 50px;
  margin-bottom: 15px;
}

.exerc-container p {
  line-height: 25px;
}

.check_tarefa {
  margin-left: 15px;
  margin-right: -30px;
}






